name: Dart

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup flutter SDK
        uses: subosito/flutter-action@v2
        with:
          cache: true

      - name: Setup melos
        run: dart pub global activate melos

      - run: melos bootstrap

      - run: melos run checkformat

      - run: melos run analyze

      - run: melos run test
